<div class="list media-list">
    <ul>
        <li>
            <div class="item-content">
                <div class="item-media"><img src="http://lorempixel.com/88/88/fashion/1" width="44"></div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">Yellow Submarine</div>
                    </div>
                    <div class="item-subtitle">Beatles</div>
                </div>
            </div>
        </li>
        <li>
            <a href="#" class="item-link item-content">
                <div class="item-media"><img src="http://lorempixel.com/88/88/fashion/2" width="44"></div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">Don't Stop Me Now</div>
                    </div>
                    <div class="item-subtitle">Queen</div>
                </div>
            </a>
        </li>
        <li>
            <div class="item-content">
                <div class="item-media"><img src="http://lorempixel.com/88/88/fashion/3" width="44"></div>
                <div class="item-inner">
                    <div class="item-title-row">
                        <div class="item-title">Billie Jean</div>
                    </div>
                    <div class="item-subtitle">Michael Jackson</div>
                </div>
            </div>
        </li>
    </ul>
</div>