<div class="page" style="overflow-x: hidden">
        <form class="searchbar" style="width:100%; margin-left:0px; margin-right:0px; position:inherit;margin-top:51px; background:none; border-radius:10px;">
                <div class="searchbar-inner">
                  <div class="searchbar-input-wrap">
                    <input type="search" placeholder="Search">
                    <i class="searchbar-icon"></i>
                    <span class="input-clear-button"></span>
                  </div>
                  <span class="searchbar-disable-button">Cancel</span>
                </div>
        </form>
        
        <div class="page-content">
          <!-- Searchbar backdrop -->
          <div class="searchbar-backdrop"></div>
          <!-- search target list -->
          <div class="list searchbar-found" style="margin-top: 80px;">
            <h6 class="center">Order History</h6>
            <ul>
              <!-- <li class="item-content ">
                <div class="item-inner">
                  <div class="item-title"><p>#L5950400 <span style=" color:#03C5C9;"><br>Pending</span> </p></div>
                </div>
              </li>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title"><p >#L475G7<span style=" color:#69BB0F;"><br>Delivered</span> </p></div>
                </div>
              </li>
              <li class="item-content">
                <div class="item-inner">
                  <div class="item-title"><p>#l4F009rf <span style=" color:#F5818E;"><br>Cancelled</span> </p></div>
                </div>
              </li> -->
              
            </ul>
          </div>
          <!-- Nothing found message -->
          <div class="block searchbar-not-found">
            <div class="block-inner">Nothing found</div>
          </div>
        </div>
      </div>