
<div style="height:100%">
    <div class="login" style="height:100%">
        <div class="logo">
            <img src="../assets/fonts/wash logo .png" alt="" class="icon">
        </div>
        <div class="login_div">
            <div style="text-align: center; color: white; font-size: 23px;">
            <p style="margin-top:0px">Login</p>
            </div>
            <div class="div_key">
                <div class="ack">
                    <img src="../assets/fonts/key.png" alt="" class="lock">
                </div>
            </div>
            <div>
                <input type="number" placeholder="Phone Number"  id="phone_number">
            </div>
            <div>
                <p class="center margin-left margin-right" style="color:white">Enter a valid phone number for a one time code to be sent to you</p>
            </div>
           <div>
            <button class="button col login_button button_login" id="login">Login</button>

           </div>
        </div>
    </div>
</div>