<div style="height:100%">

  <div style="height:70vw;background-color: #1acccff0;">
    <div class="profilee" style="padding-top: 90px;">
      <img src="#" alt="" id="myImg" accept=".jpg, .jpeg, .png" multiple id="profile-img">
      <div class="center" style="margin-top: -85px;color: white;">
          <h4 style="font-size: 20px" id="profile-name"></h4>
          <p style="margin-top: -7px;" id="profile-phone"></p>
        </div>
        
    </div>
    
  </div>

  <div class="list" style="margin-bottom:100px">
      <ul>
        <li class="accordion-item"><a href="#" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title">Edit Profile</div>
            </div></a>
          <div class="accordion-item-content">
              <form class="list" id="my-form">
                  <div class="block">
                    <div class="col">
                      <input type="text" placeholder="FullName" id="username">
                    </div>
                    <div class="col">
                      <input type="text" placeholder="Delivery Address" id="user-address">
                    </div>
                    <div class="col">
                      <input type="number" placeholder="Phone Number" id="userphone">
                    </div>
                    <div class="col">
                      <input type="email" placeholder="Email" id="user-email">
                    </div>
                  </div>
                  <div class="block">
                    	<div class="col" style="margin-top: 20px;">
                          <select class="select" id="user-state">
                            <option value="">Please select the state you reside in</option>
                            <option value="Akwa-ibom">Akwa-ibom</option>
                          </select>
                        </div>
                        <div class="col">
                          <select class="select" id="user-city">
                            <option value="">Please select the city you reside in</option>
                            <option value="Uyo">Uyo</option>
                          </select>
                        </div>
                  </div>
                    <button class="col button button-outline button_color" id="edit-bio">Update</button>
                </form>


          </div>
        </li>
        <li class="accordion-item"><a href="#" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title">Card Details</div>
            </div></a>
          <div class="accordion-item-content">
            <div class="block">
                <div class="row">
                    <div class="col">
                        <input type="text" placeholder="Name on Card">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                        <input type="text" placeholder="Number on the card">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                          <select  name="Month" id="color">
                            <option value="">Month</option>
                            <option value="jan">January</option>
                            <option value="feb">February</option>
                            <option value="mar">March</option>
                            <option value="apr">April</option>
                            <option value="may">May</option>
                            <option value="jun">June</option>
                            <option value="jul">July</option>
                            <option value="aug">August</option>
                            <option value="sep">September</option>
                            <option value="oct">October</option>
                            <option value="nov">November</option>
                            <option value="dec">December</option>
                        </select>
                    </div>
                    <div class="col">
                        <select  name="Year" id="color">
                            <option value="">Year</option>
                            <option value="1">2012</option>
                            <option value="2">2013</option>
                            <option value="3">2014</option>
                            <option value="4">2015</option>
                            <option value="5">2016</option>
                            <option value="6">2017</option>
                            <option value="7">2018</option>
                            <option value="8">2019</option>
                            <option value="9">2020</option>
                            <option value="10">2021</option>
                            <option value="11">2022</option>
                            <option value="12">2023</option>
                        </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <input type="number" placeholder="cvv">
                    </div>
                    <div class="col">
                      <p>3 0r 4 digits usually found on the signature strip</p>
                    </div>
                  </div>
                  <button class="col button button-outline button_color">Submit</button>
            </div>
          </div>
        </li>
        <li class="accordion-item"><a href="#" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title">More Addresses</div>
            </div></a>
          <div class="accordion-item-content">
            <p class="center">To serve you better we wish to get more delivery address to enable us deliver to your preferred location</p>
            <div class="block"  style="margin-bottom: 83px;">
              <div class="row">
                <div class="col">
                  <input type="text" placeholder="Address 1">
                </div>
              </div>
              <div class="row">
                  <div class="col">
                      <input type="text" placeholder="Address 2">
                    </div>
              </div>
              <button class="col button button-outline button_color" id="add-address">Update</button>
            </div>
          </div>
        </li>
        
      </ul>
    </div>

</div>

