<div class="verify">
    <div class="center margin-top">
        <h4>User Verification</h4>
        <p class="margin-left margin-right">Please enter the verification code sent to your mobile device</p>
    </div>
    <div>
        <ul>
            <li class="item-content item-input margin-top">
                <div class="item-inner">
                    <div class="item-input-wrap">
                        <input type="text" placeholder="Verification Code" class="center" style="width: 60vw;margin-left:20vw" id="verify" readonly="true">
                        <span class="input-clear-button"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="keypad_div">
        <div class="keypad">
                <div class="block key_pad" >
                   <div class="row">
                        <div class="col">
                            <button class="keypad_button" value="1">1</button>
                        </div>
                        <div class="col">
                            <button class="keypad_button" value="2">2</button>
                        </div>
                        <div class="col">
                            <button class="keypad_button" value="3">3</button>
                        </div>
                   </div>
                   <div class="row">
                        <div class="col">
                            <button class="keypad_button" value="4">4</button>
                        </div>
                        <div class="col">
                            <button class="keypad_button" value="5">5</button>
                        </div>
                        <div class="col">
                            <button class="keypad_button" value="6">6</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="keypad_button" value="7">7</button>
                        </div>
                        <div class="col">
                            <button class="keypad_button" value="8">8</button>
                        </div>
                        <div class=" col">
                            <button class="keypad_button" value="9">9</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="margin-bottom col">
                            <button class="keypad_button" id="erase-btn"><i class="f7-icons">chevron_left</i></button>
                        </div>
                        <div class="margin-bottom col">
                            <button class="keypad_button" value="0">0</button>
                        </div>
                        <div class="margin-bottom col">
                            <button class="keypad_button" id="submit"><i class="f7-icons">check</i></button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>