<div id="welcome" class="infinite-scroll-content infinite-scroll-top margin-bottom">
    <div>
        <img src="../assets/fonts/triangle.svg" alt="working" style="width:100vw">
    </div> 
        <!-- <div class=""style="margin-bottom:0px;height: 123px;">
        <img src="../assets/fonts/hanger.svg" alt="" class="circle_img">
    </div> -->
    <div class="over">
        <img src="../assets/fonts/hanger.svg" alt="">
    </div>
    <div class="center welcome_text">
        <h5>WELCOME YOU</h5>
        <p class="margin-left margin-right">With your ability to schedule an appointment with your dry-cleaner with the help of your fingers, getting clean and dry on time.</p> 
    </div>
    <div class="ack"> 
        <img src="../assets/fonts/Path_1.svg" alt="" id="ack">
    </div>
        
   
</div>