body{
    overflow-y: scroll; 
}
.md .toolbar {
    background: white;
}
.wash_logo{
    width: 94vw;margin-left: 2vw;margin-right: 2vw;
}
#make{
    margin-bottom: 46px;
}
#start{
    border:1px solid #19D1D4;
    border-radius:10px;
}
.foot{
    top:auto!important;
    bottom:0px !important;
}
.lock{
    position: relative;
    top: 10px;
}
.logo img{
    padding-top:30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.welcome_text{
    margin-top: -51px;
}
.keypad_button{
    background-color: transparent;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19);
}

.over img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 100%;
    height: 200px;
    width: 200px;
    position: relative;
    top: -72px;
    background-color: white;
}
.profilee img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 100%;
    height: 130px;
    width: 130px;
    position: relative;
    top: -72px;
    background-color: white;
}
.ack img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
.script_btn{
    width: 60vw;
    margin-left: 6vw;
}
.login{
    background-image: url("../fonts/background_1.svg");
    background-repeat:no-repeat;
    background-size:cover;
}
.keypad_div{
    background-color:#03C5C9; 
    height:100%;
}
#phone_number{
    color: white;
    width: 70vw;
    margin-left: 13px;
    margin-top: -61px;
    text-align: center;
}
.profile-img{
    background-image:url("../fonts/Divine.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    height:100vw; 
}
.key{
    top: -124px;
    position: relative;
    left: 30px;

}
.small_profile{
    border-radius: 100%;
    width: 40%;
    height: 30%;
}
.f7-icons{
    font-size:16px;
    color:black;
}
#image_src{
    position:absolute;
    left:-9999px;
}
#img { cursor:pointer; }
.keypad{
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19);
    height: auto; 
    background-color: white;
    margin-left: auto;
    position: relative;
    top: -30px;
    width: 215px;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 80px;
}
.login_button{
    background-color:white !important; 
    border:none !important;
    color:#1ACCCF !important;
    width: 50vw !important;
    margin-left: 16vw !important;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19);
    
}
#color{
    outline-color: transparent;
}
.select{
    border: 1px solid #cccccc;
    border-radius: 6px;
    margin-bottom: 15px;
    text-align: center;
    padding-left: 10px;
    color: black;
}
.ios .button {
    border: 1px solid #1ACCCF;
    color:black;
}
verify_key{
    border:none!important;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19)!important;
    
}
.login_text{
    text-align:center;
    color:white;
    margin-top:20px;
}
.middle {
    vertical-align: middle;
    text-align:center;
    left:16vw;
    position:relative; /*makes left effective*/
    display:table-cell;
    top:-82px
}
.verify{
    overflow: hidden;
    height: 100%;
    margin-top: 20px; 
}
.profile{
    background-image: url(../fonts/Divine.jpg);
    height:100vw;
    background-size: contain;
    background-repeat: no-repeat;
}
.profile_img{
    height: 100vw;
    background-size: cover;
    width: 100%;
}
#welcome{
    overflow-y: scroll; 
    
}
.key_pad{
    padding-top: 14px !important;
}
.card{
    margin:0px!important;
    border-radius: 5px;
}
.card-content{
    padding-left:0px!important;
    padding-right: 0px!important;
    
}
.ios .data-table th {
    padding-left: 15px;
    padding-right: 25px;

}
.button_login {
    border: none !important;
    color: black !important;
    border-radius: 5px !important;
    line-height: 27px !important;
    height: 56px !important;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.19) !important;
}

#ack{
    margin-top:45px!important;
}
.home_img{
    margin-left:15vw;
}
.home_img_2{
    margin: 7vw;
}
.button_color{
    width: 150px;
    margin-left:auto;
    margin-right:auto; 
    height:50px; 
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.19);
    color: #1acccff0 !important;
    border: 1px solid #1acccff0 !important;
}

.md .navbar ~ .page-content {
    padding-top: 0px;
}
.page-content{
    background-color:#f7f7f8;
    padding-top:auto;
}
.circle_img{
    position: relative;
    background-color: white;
    border-radius:100%;
    height:200px;
    width:200px; 
    top: -88px;
    padding: 12px; 
    margin-left: 18vw;
}
.home_width{
    margin-top:100px;
}
.login_img{
    background-image: url(../fonts/background_1.svg);
    height:100%;
}
.login_section{
    align-content: center; 
    padding-left: 36vw; 
    padding-top: 24vw;
}
.div_key{
    height:50px;
    width:50px;
    background-color: white; 
    border-radius:100%; 
    position:relative;
    top: -77px;
    left: 5vw;
}
.login_div{
    height: auto;
    background-color: #1acccff0;
    margin-top: 220px;
    padding-bottom: 30px;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 10px;
    padding-top:1px;
}
@media only screen
  and (min-device-width: 375px){
    .circle_img{
        margin-left:24vw;
    }
    .home_img{
        margin-left:21vw;
    }
    .home_img_2{
        margin-left: 14vw;
    }
    .home_width{
        margin-top:150px;
    }
    .login_button{
        margin-top:38px
    }
    .key{
        left:32px;
    }
  }
@media only screen 
  and (min-device-width:414px){
    
    .login_div{
        margin-top: 69vw;
    }
    .login_text{
        margin-top:40px;
    }
    .verify{
        margin-top:10vw;
        overflow-y: hidden;
    }
    .keypad{
        margin-top: 25vw;
    }
    .key{
        left:35px;
    }
  }
  @media only screen 
    and(max-device-height:812px){
        .login_div{
            margin-top: 50vw!important;
        } 
    }

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1023px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .circle_img {
        margin-left: 32vw;
        width: 300px;
        height: 300px;
        top: -101px;
    }
    .logo img{
        padding-top:47px;
    }
    #app{
        height:90%;

    }
    p{
        font-size:20px;
    }
    h5{
        font-weight: bold;
    }
    #start{
        width: 60vw;
        margin-left: -4vw;
        height: 15vw;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.19);
    
    }
    .home_img_2 {
        margin-left: 32vw;
    }
    .wash_logo{
        margin-top: 85px;
    }
    .login_div {
        height: 395px;
        width:63vw;
        margin-left: 136px;
        margin-top: 189px;
    }
    #phone_number{
        font-size: 30px;
        width: 57vw;
        margin-left: 3vw;
        margin-top: -22px;
    }
    .lock{
        width:30px;
    }
    .login_button {
        margin-left: 20vw !important;
        width: 24vw !important;
    }
    .key {
        left: 57px;
    }
    .icon{
        margin-left:8vw;
    }
    .button_login{
        height: 54px !important;
        font-size:20px;
    }
    .circle_img {
        top: -128px;
    }
    .keypad_div{
        height:90%
    }
    .verify{
        height:100%;
    }
    .keypad{
        height:271px;
    }
    .key_pad{
        padding:20px;
    }
    .navbar{
        height:100px!important;
    }
    .welcome_text{
        margin-top: -68px;
    }
    #ack{
        width: 60px;
    }
    .over img{
        height: 300px;
        width: 300px;
        top: -117px;
    }
    .div_key{
        height:60px;
        width:60px;
        top: -94px;
    }
    #acct{
        margin-top:60px;
    }
    
    .login_text{
        margin-left: 47px !important;
    }
    .verify_key{
        font-size:30px;
    }

}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .navbar {
        height: 100px!important;
    }
    .back{
        font-size:30px;
        
    }
    .circle_img {
        margin-left: 32vw;
        width: 300px;
        height: 300px;
        top: -101px;
    }
    #ack{
        
        width:100px;
    }
    p{
        font-size: 33px;
        margin-top: 39px;
    }
    h5{
        font-weight: bold;
        font-size:40px
    }
    #start{
        width: 60vw;
        margin-left: -4vw;
        height: 15vw;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.19);
        font-size: 50px;
    
    }
    .table_font{
        font-size:30px;
    }
    .home_img_2 {
        margin-left: 32vw;
    }
    .wash_logo{
        margin-top: 85px;
    }
    .login_div {
        height: 528px;
        width:63vw;
        margin-left: 136px;
    }
    #phone_number{
        width:51vw;
        margin-top:20px;
        font-size: 30px;
        
    }
    .button_login {
        height: 80px !important;
        font-size: 35px;
    }
    .login_button {
        margin-left: 15vw !important;
        width: 24vw !important;
    }
    .key {
        left: 74px;
        margin-top: -9px;
    }
    .icon{
        margin-left:8vw;
    }
    .circle_img {
        top: -128px;
    }
    .keypad_div{
        height:90%
    }
    .verify{
        height:90%;
    }
    .keypad{
        width:40%;
        margin-left:31vw;
        height:271px;
    }
    .key_pad{
        padding:20px;
    }
    .navbar{
        height:100px!important;
    }
    .welcome_text{
        margin-top: -48px;
        
    }
    .div_key{
        height: 70px;
        width: 70px;
        top: -96px;
    }
    .login_text{
        margin-left: 47px !important;
    }
    .login_button {
        margin-top: 43px;
    }
    .login_text{
        font-size:30px;
    }
    .login_div {
        height: 50vw;
        width: 54vw;
        margin-left: 223px;
        margin-top: 70vw;
    }
    .swal-modal {
        width: 583px;
    }
    .circle_img {
        width: 340px;
        height: 340px;
        margin-left: 34vw;
    }
    .f7-icons{
        width: 70px!important;
    }
    .data-table{
        margin-bottom: 100px;
        padding-left: 22px;
        padding-right: 22px;
 
    }
    .balance_wallet{
        margin-left: 17px;
        margin-right: 17px;
    }
    #footer{
        height:80px!important;
    }
    #history{
        margin-right: 130px;
    }
    #wallet{
        margin-left:130px;
    }
    #wall_margin{
        margin-top: 10px;
        height: 84px;
    }
    #make{
        height: 100px;
    }
    .script_btn{
        width: 23vw;
        margin-left: 6vw;
    }
    .select{
        height: 100px;
        font-size: 30px;
    }
    .modal-in{
        width: 39%;
    }
    .login_div h4{
        margin-top:20px;
    }
    .lock{
        width:30px;

    }
    .over img{
        width:400px;
        height:400px;
        top: -155px;
    }
    .verify_key{
        font-size:30px;
    }
    #acct{
        margin-top:100px;
    }
  }
